
@{
    ViewBag.Title = "Classification";
}
<div id="ContentContainerInnerInner">
    <div id="PageTitle">
        <h1 class="page-title-text">
            A–Z guide to recycling and waste disposal
        </h1>
    </div>
    <div id="ContentAreaContainer">
        <div id="ContentArea">

            <!-- Summary. -->
            <div id="PageSummary">
                A guide for how to recycle or dispose of various items, whether via a City of Melbourne kerbside bin or collection service, drop-off locations in the city, or through other service providers.

            </div>

            <!-- Feature description. -->
            <!-- Main page content. -->
            <div class="space-below">
                <div class="MainPageContent">
                    <div>

                        <div id="ctl00_PlaceHolderMain_ctl04_txtPublishingPageContentDisplay_label" style="display:none">Page Content</div><div id="ctl00_PlaceHolderMain_ctl04_txtPublishingPageContentDisplay__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl04_txtPublishingPageContentDisplay_label">
                            <p>
                                The closest transfer station is the
                                <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>&nbsp;at&nbsp;437 Dynon Road, West Melbourne.&nbsp;<br>
                            </p><p>
                                <b>Note:</b> charges may apply to various items;&nbsp;please check with the facility.<br>
                            </p>
                        </div>

                    </div>
                </div>


            </div>
            <!-- Main page image. -->
            <!-- Top web part zone. -->

            <div class="clearfix">
                <div class="ms-webpart-zone ms-fullWidth">
                    <div id="MSOZoneCell_WebPartctl00_ctl58_g_e50b8651_4936_4a7d_813d_c5ca5cdc0744" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
                        <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
                            <div webpartid="e50b8651-4936-4a7d-813d-c5ca5cdc0744" haspers="false" id="WebPartctl00_ctl58_g_e50b8651_4936_4a7d_813d_c5ca5cdc0744" width="100%" class="ms-WPBody " allowdelete="false" allowexport="false" style="">
                                <div class="accordionContainer">
                                    <div class="accordionQuestionAdhoc"><h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="a" class="named-anchor" tabindex="0"></a>A</h2><div class="accordionAnswer"><div class="ExternalClassF16271255B464664B9AF3666311BBF61"><h3>Aerosol cans</h3><p>Place empty cans in your yellow lidded recycling bin.</p><h3>Adhesive strips (band aids)</h3><p>Place in your landfill bin.<br></p><h3>Aluminium cans</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#c" tabindex="0" target="_self">Cans</a>&nbsp;for further information.</p><h3>Aluminium foil<br></h3><p>Scrape clean, scrunch in a ball and place in your yellow lidded recycling bin.</p><h3>Aluminium trays<br></h3><p>Scrape clean, scrunch in a ball and place in your yellow lidded recycling bin.<br></p><h3>Anti-freeze</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx#chemicals" tabindex="0" target="_self">Chemicals</a>&nbsp;for further information.</p><h3>Asbestos&nbsp;</h3><p>See <a href="https://www.asbestos.vic.gov.au/" tabindex="0" target="_self">Asbestos in Victoria</a>&nbsp;to find out about the&nbsp;correct way to dispose of asbestos.<br></p><h3>Australia Post satchels (soft plastic)</h3><p>Place in your landfill bin, or take to your nearest soft plastic collection bin – refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" tabindex="0" target="_self">Soft plastics</a>.<br></p></div></div></div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="b" class="named-anchor" tabindex="0"></a>B</h2><div class="accordionAnswer">
                                            <div class="ExternalClass2680F3A2E24E4714A4E58F3C3D02185D">
                                                <h3>​Baby items</h3><p>
                                                    Drop off at your local
                                                    <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a>.<br>
                                                </p><p>
                                                    Second-hand baby/children toys and clothes (up to 16 years old) can be donated to
                                                    <a href="https://www.stkildamums.org/" target="_self" tabindex="0">St Kilda mums</a>.&nbsp;<br>
                                                </p><h3>Balloons</h3><p>Place in your landfill bin.</p><h3>Baskets<br></h3><p>
                                                    Drop off at your
                                                    <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a>.<br>
                                                </p><h3>Batteries (car)</h3><p>Drop off at&nbsp;<a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" tabindex="0" target="_self">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open&nbsp;9am to&nbsp;3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.<br></p><h3>Batteries (household)</h3><p>
                                                    Batteries are
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">e-waste</a>.&nbsp;<br>
                                                </p><p>City of Melbourne&nbsp;drop-off locations:<br></p><ul><li>Kathleen Syme Library and Community Centre – 251 Faraday Street, Carlton</li><li>Kensington Town Hall – 30-34 Bellair Street, Kensington</li><li>Library at The Dock – 107 Victoria Harbour Promenade, Docklands.</li></ul><p>Other drop off locations:&nbsp;<br></p><ul><li>Aldi – 501 Swanston Street, Melbourne</li><li>Aldi – 100 Market Street, South Melbourne&nbsp;</li><li>Aldi – 315-325 Victoria Street, Abbotsford</li></ul><h3>Bicycles</h3><p>
                                                    Donate your bicycle to
                                                    <a href="https://bicyclesforhumanity.com/donate/donate-your-bicycle/" target="_self" tabindex="0">Bicycles for Humanity</a>.<br>
                                                </p><h3>Biscuit trays<br></h3><p>Place in your yellow lidded recycling bin.</p><h3>Blankets and bedding</h3><p>Check with your local vets to see if they accept donations.<br></p><h3>Bottles (glass, plastic, metal)<br></h3><p>Place in your yellow lidded recycling bin. Note, please squeeze air out of plastic bottles and replace the lid.</p><h3>Branches</h3><p>
                                                    City of Melbourne residents can use the&nbsp;<a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/garden-waste.aspx" tabindex="0" target="_self">garden/green waste&nbsp;collection service</a>. Residents are entitled to a free garden/green waste pick-up service once a month. Note, a maximum of 2 cubic meters per household is allowed.
                                                    <a href="https://www.gobookings.com/au/clients/directory/" target="_self" tabindex="0">Bookings are essential</a> and must be made by Thursday before the relevant collection weekend.&nbsp;<br>
                                                </p><p>Branches can also be dropped off at the&nbsp;<a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" tabindex="0" target="_self">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open&nbsp;9am to&nbsp;3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.<br></p><h3>Bread bags</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.<br>
                                                </p><h3>Bubble wrap</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="c" class="named-anchor" tabindex="0"></a>C</h2><div class="accordionAnswer">
                                            <div class="ExternalClass6171736F2ABE4913AD2F4F64D59F5CC8">
                                                <h3>Cameras</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a> for further information.
                                                </p><h3>Cans (steel, aluminium)<br></h3><p>Place empty cans in your yellow lidded recycling bin.</p><h3>Car batteries</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#b" target="_self" tabindex="0">Batteries (car)</a>&nbsp;for further information.
                                                </p><h3>Car parts and bodies</h3><p>
                                                    Drop off at
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.
                                                </p><h3>Cardboard&nbsp;</h3><p>Flatten boxes and place in your yellow lidded recycling bin.</p><h3>Cartons (milk and juice)</h3><p>
                                                    Place in your landfill bin, or you can drop off at
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Free drop-off for residents with proof of address.
                                                </p><h3>Carpet&nbsp;<br></h3><p>Refer to ‘Hard waste’ for further information.</p><h3>Cassette tapes</h3><p>
                                                    Place in your landfill bin, or donate to your
                                                    <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a>.<br>
                                                </p><h3>CDs</h3><p>
                                                    Place in your landfill bin, or donate to your
                                                    <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a>.<br>
                                                </p><h3>Ceramics (vases,&nbsp;pots, etc.)<br></h3><p>
                                                    Place in your landfill bin, or donate to your
                                                    <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a>.<br>
                                                </p><h3>Cellophane</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.<br>
                                                </p><h3>Cereal box insert</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.<br>
                                                </p><h3>Chargers</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a> for further information.
                                                </p><h3>Chemicals</h3><p>
                                                    Drop off unwanted chemicals for free at a
                                                    <a href="https://www.sustainability.vic.gov.au/detoxyourhome" target="_self" tabindex="0">Detox Your Home chemical collection</a><br>
                                                </p><h3>Chip packets</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.<br>
                                                </p><h3>Chlorine</h3><p>
                                                    Drop off unwanted chemicals for free at a
                                                    <a href="https://www.sustainability.vic.gov.au/detoxyourhome" target="_self" tabindex="0">Detox Your Home chemical collection</a><br>
                                                </p><h3>Cigarette butts</h3><p>Place in your landfill bin.</p><h3>Cling wrap&nbsp;</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.<br>
                                                </p>
                                                <h3>Clothing and shoes</h3><p>​If you have clothing or&nbsp;shoes&nbsp;in good condition, please consider donating, giving away or selling your items via the following websites:</p><ul>
                                                    <li>
                                                        Your local
                                                        <a href="https://opshop.org/" target="_self" tabindex="0">op shop</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/marketplace/" target="_self" tabindex="0">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" target="_self" tabindex="0">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" target="_self" tabindex="0">Ziilch</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.diabetesvic.org.au/collection-business" target="_self" tabindex="0">Diabetes Australia - Clothing collection</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.salvationarmy.org.au/donate/clothing-and-goods/" target="_self" tabindex="0">Salvation Army</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.vinnies.org.au/page/Donate/Donate_Goods/" target="_self" tabindex="0">Vinnies</a><br>
                                                    </li>
                                                </ul>
                                                <h3>Coffee pods / capsules</h3><p>Coffee pods or capsules can’t go in the recycling bin due to the coffee that is inside the pod, which prevents the metal from being sorted correctly.&nbsp;<br></p><p>Some manufacturers and provider&nbsp;offer recycling options:<br></p><ul>
                                                    <li>
                                                        <a href="https://www.nespresso.com/au/en/how-to-recycle-coffee-capsules" target="_self" tabindex="0">Nespresso coffee capsule recycling program</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.dolce-gusto.com.au/capsule-recycling" target="_self" tabindex="0">Dolce Gusto coffee capsule recycling program</a>
                                                    </li>
                                                    <li>
                                                        Terracycle:&nbsp;purchase a
                                                        <a href="https://www.terracycle.com/en-AU/zero_waste_boxes/coffee-capsules-au" target="_self" tabindex="0">Coffee capsule zero waste box</a>
                                                    </li>
                                                </ul><h3>Coffee machines</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a> for further information.
                                                </p><h3>Computers and accessories<br></h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a> for further information.<br>
                                                </p><h3>Cooking oil</h3><p>
                                                    Drop off at
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.
                                                </p><h3>Crockery<br></h3><p>
                                                    Place in your landfill bin, or donate to your
                                                    <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a>.<br>
                                                </p><h3>Cutlery (metal)<br></h3><p>
                                                    Place in your landfill bin, or donate to your
                                                    <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a>.<br>
                                                </p><h3>Cutlery (plastic)</h3><p>Place in your yellow lidded recycling bin.<br></p><h3>Cupboards</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a> for further information, or donate to your
                                                    <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a>.<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc"><h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="d" class="named-anchor" tabindex="0"></a>D</h2><div class="accordionAnswer"><div class="ExternalClass5E70DE9A301B452AADD24DF6DF9CB283"><h3>​Detergent bottles (plastic)&nbsp;</h3><p>Place empty bottles in your yellow lidded recycling bin.</p><h3>Deodorant cans, roll-ons, sprays&nbsp;</h3><p>Place empty cans and bottles in your yellow lidded recycling bin.</p><h3>Diabetic testing strip</h3><p>Place in your landfill bin.</p><h3>Dishwasher</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" tabindex="0" target="_self">Hard-waste</a>&nbsp;for further information.<br></p><h3>Disposable coffee cups<br></h3><p>Remove lid and put lid in the recycling bin. Place cup in the landfill bin.</p><h3>Disposable nappies</h3><p>Place in your landfill bin.</p><h3>Dog faeces</h3><p>Place in your landfill bin.</p><h3>Door mat</h3><p>Place in your landfill bin.</p><h3>Dryer</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" tabindex="0" target="_self">Hard waste</a>&nbsp;for further information.</p><h3>DVDs</h3><p>Place in your landfill bin, or donate to your <a href="https://opshop.org/" tabindex="0" target="_self">local op shop</a>.&nbsp;<br></p><h3>DVD player&nbsp;</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" tabindex="0" target="_self">E-waste</a>&nbsp;for further information.<br></p></div></div></div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="e" class="named-anchor" tabindex="0"></a>E</h2><div class="accordionAnswer">
                                            <div class="ExternalClass8526303615824BF18E28B4CDE60407F4">
                                                <h3>​E-waste (electrical or electronic waste)</h3><p>Anything with a plug, cord or battery is considered e-waste.&nbsp;</p><div>
                                                    <strong>Small e-waste items​</strong>&nbsp;that can fit into a 240 L household bin&nbsp;are accepted at the following City of Melbourne drop-off locations:
                                                </div><ul><li>Kathleen Syme Library and Community Centre – 251 Faraday Street, Carlton<br></li><li>Kensington Town Hall – 30-34 Bellair Street, Kensington</li><li>Library at The Dock – 107 Victoria Harbour Promenade, Docklands.</li></ul><p>
                                                    <strong>For larger e-waste items</strong>, residents (ratepayers) are entitled to one free hard waste collection each year, of one cubic meter.
                                                    <a href="https://www.gobookings.com/au/clients/directory/" target="_self" tabindex="0">Book a collection</a>&nbsp;or find out&nbsp;more about our
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">e-waste collection service.</a><br>
                                                </p><p>
                                                    <strong>If you live in a high rise building</strong>, please contact your building manager and they will organise a collection on your behalf.<br>
                                                </p><p>
                                                    <strong>Other e-waste drop off locations:</strong>
                                                </p><p>Drop off at <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.<br></p>
                                                <p><strong>Other drop off locations for batteries only:</strong></p><ul><li>Aldi – 501 Swanston Street, Melbourne</li><li>Aldi – 100 Market Street, South Melbourne&nbsp;</li><li>Aldi – 315-325 Victoria Street, Abbotsford.<br></li></ul>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="f" class="named-anchor" tabindex="0"></a>F</h2><div class="accordionAnswer">
                                            <div class="ExternalClassC953CEA81AA04514B1D131ECB2372F34">
                                                <h3>Fabric<br></h3><p>Donate to your&nbsp;<a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a>, or place in your landfill bin.</p><h3>Fire extinguishers</h3><p>Drop off at <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.</p>
                                                <h3>Fluorescent tubes and&nbsp;compact fluorescent light&nbsp;globes (CFLs)</h3><p>
                                                    Drop off unwanted light globes and tubes for free at a
                                                    <a href="https://www.sustainability.vic.gov.au/detoxyourhome" target="_self" tabindex="0">Detox Your Home chemical collection</a>.<br>
                                                </p><h3>Foam</h3><p>
                                                    Place in your landfill bin, or refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for further information.<br>
                                                </p><h3>Food pouches</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.<br>
                                                </p><h3>Food scraps&nbsp;</h3><p>
                                                    Place in your landfill bin, or turn your food scraps into compost: purchase a discounted compost bin, worm farm and bokashi bucket through
                                                    <a href="https://compostrevolution.com.au/" target="_self" tabindex="0">Compost Revolution.</a><br>
                                                </p><h3>Formula tins</h3><p>Place in your yellow lidded recycling bin.<br></p><h3>Fridge&nbsp;/ freezer<br></h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for further information.
                                                </p><h3>Frozen food bags<br></h3><p style="text-align:left;">
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.<br>
                                                </p><h3>Fruit tree netting<br></h3><p style="text-align:left;">Place in your landfill bin.&nbsp;Old netting, when discarded, can still be an entanglement risk. If you plan to dispose of old netting to landfill it is recommended that you place it into a strong biodegradable bag first.<br></p><h3>Fuels</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx#chemicals" target="_self" tabindex="0">Chemicals</a> for further information.
                                                </p><h3>Furniture</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for further information.<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="g" class="named-anchor" tabindex="0"></a>G</h2><div class="accordionAnswer">
                                            <div class="ExternalClassBB4B7F86167A4F7E9DD0B7D878DDB1FB">
                                                <h3>​Garden waste</h3><p>
                                                    Residents are entitled to a
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/garden-waste.aspx" target="_self" tabindex="0">free garden/green waste pick-up service</a> (once a month). Note, a maximum of two cubic meters per household is allowed.
                                                    <a href="https://www.gobookings.com/au/clients/directory/" target="_self" tabindex="0">Bookings are essential</a> and must be made by Thursday before the relevant collection weekend.&nbsp;<br>
                                                </p><p>
                                                    Garden waste can also be dropped off at
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Free drop off for residents with proof of address.<br>
                                                </p><h3>Gas cylinders and bottles<br></h3><p>Return gas cylinders and bottles to a swap-and-go location.</p>
                                                <h3>Glass bottles and jars<br></h3><p>Empty and place in your yellow lidded recycling bin.<br></p><h3>Glass windows, cups, mirrors and table tops</h3><p>Glass must be securely wrapped.&nbsp;<br></p><p>Place in your landfill bin or refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste&nbsp;</a>for more&nbsp;information.<br></p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="h" class="named-anchor" tabindex="0"></a>H</h2><div class="accordionAnswer">
                                            <div class="ExternalClass8943388B870E44AA84B9D7E54F97C344">
                                                <h3>​Hard waste&nbsp;<br></h3><p>Hard waste includes&nbsp;furniture, household items, large e-waste (white goods).<br></p><p><strong>If your items are in good condition</strong> please consider donating, giving away or selling your items.&nbsp; You can donate or sell your items on the following websites:</p><ul>
                                                    <li>
                                                        Find your
                                                        <a href="https://opshop.org/" target="_self" tabindex="0">local op&nbsp;shop</a>&nbsp;
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/marketplace/" target="_self" tabindex="0">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" target="_self" tabindex="0">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" target="_self" tabindex="0">Ziilch</a><br>
                                                    </li>
                                                </ul><p>
                                                    <strong>Residents (ratepayers)</strong> are entitled to one free hard waste collection each year, of one cubic meter.
                                                    <a href="https://www.gobookings.com/au/clients/directory/" target="_self" tabindex="0">Book a collection</a>&nbsp;or find out&nbsp;more about the
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">hard waste collection&nbsp;service</a>.<br>
                                                </p><p><strong>If you live in a high rise building</strong>, please contact your building manager and they will organise a collection on your behalf.<br></p><p>Hard waste can also be disposed of&nbsp;at <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.</p>
                                                <h3>Hair dryers or straighteners<br></h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a>&nbsp;for further information.</p><h3>Household Chemicals</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx#chemicals" target="_self" tabindex="0">Chemicals</a>&nbsp;for further information.<br></p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc"><h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="i" class="named-anchor" tabindex="0"></a>I</h2><div class="accordionAnswer"><div class="ExternalClass47969FE4DA194AD08AC14DE8BA3F3C46"><h3>​Ice&nbsp;cream containers</h3><p>Empty and place in your yellow lidded recycling bin.</p><h3>Insect spray bottles and cans</h3><p>Empty and place in your yellow lidded recycling bin.</p><h3>Iron<br></h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a>&nbsp;for further information.<br></p></div></div></div><div class="accordionQuestionAdhoc"><h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="j" class="named-anchor" tabindex="0"></a>J</h2><div class="accordionAnswer"><div class="ExternalClass6DB81EAFD33148E2A4A812145A7207B3"><h3>​Jars and lids</h3><p>Place in your yellow lidded recycling bin.</p><h3>Juice boxes and containers&nbsp;(commonly known as TetraPak)<br></h3><p>Place in your landfill&nbsp;bin.<br></p></div></div></div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="k" class="named-anchor" tabindex="0"></a>K</h2><div class="accordionAnswer">
                                            <div class="ExternalClass3972900168E8461FA69311E444F6C6C7">
                                                <h3>​Kettles<br></h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a>&nbsp;for further information.
                                                </p><h3>Keyboards<br></h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a>&nbsp;for further information.<br>
                                                </p>
                                                <h3>Kitchenware<br></h3><p>​If you have kitchenware (saucepans, crockery and cutlery)&nbsp;in good condition, please consider donating, giving away or selling your items via the following websites:<br></p><ul>
                                                    <li>
                                                        Your local
                                                        <a href="https://opshop.org/" tabindex="0" target="_self">op shop</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/marketplace/" tabindex="0" target="_self">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" tabindex="0" target="_self">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" tabindex="0" target="_self">Ziilch</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.diabetesvic.org.au/collection-business" tabindex="0" target="_self">Diabetes Australia - collections</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.salvationarmy.org.au/donate/clothing-and-goods/" tabindex="0" target="_self">Salvation Army</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.vinnies.org.au/page/Donate/Donate_Goods/" tabindex="0" target="_self">Vinnies</a><br>
                                                    </li>
                                                </ul>
                                                <h3>Kitty litter&nbsp;<br></h3><p>Wrap in a plastic bag and place in your landfill bin.<br></p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc"><h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="l" class="named-anchor" tabindex="0"></a>L</h2><div class="accordionAnswer"><div class="ExternalClass743C8953CC7D42299169F6A2C95BF699"><h3>​Laptops&nbsp;<br></h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" tabindex="0" target="_self">E-waste</a>&nbsp;for further information.</p><h3>Laminated paper</h3><p>This can't be recycled due to the plastic coating on the paper. Place in your landfill bin.<br></p><h3>Light globes</h3><p>Drop off unwanted light globes for free at a <a href="https://www.sustainability.vic.gov.au/detoxyourhome" tabindex="0" target="_self">Detox Your Home chemical collection</a>.<br></p><h3>Linen&nbsp;</h3><p>Check with your local vets to see if they accept donations</p><h3>Lolly wrappers</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" tabindex="0" target="_self">Soft plastics</a>.<br></p></div></div></div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="m" class="named-anchor" tabindex="0"></a>M</h2><div class="accordionAnswer">
                                            <div class="ExternalClass5D18D7C95DE3430D9914DAFD17269262">
                                                <h3>​Magazines</h3><p>Place in your yellow lidded recycling bin.</p><h3>Mattresses<br></h3><p>If your mattresses&nbsp;are in good condition please consider donating, giving away or selling them.&nbsp; You can donate or sell on the following websites:</p><ul>
                                                    <li>
                                                        Find your
                                                        <a href="https://opshop.org/" target="_self" tabindex="0">local op&nbsp;shop</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/marketplace/" target="_self" tabindex="0">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" target="_self" tabindex="0">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" target="_self" tabindex="0">Ziilch</a><br>
                                                    </li>
                                                </ul><p>
                                                    See
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for further options.<br>
                                                </p><p>
                                                    You can also drop off mattresses&nbsp;at
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.<br>
                                                </p><p>Other mattress collection/recycling options:<br></p><ul>
                                                    <li>
                                                        <a href="https://bedcollect.com.au/" target="_self" tabindex="0">Bedcollect </a>
                                                        <br>9amto&nbsp;5pm, pick-up only<br>Charge: $60 first piece<br>Available for bulk collections<br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.mattress-recycling.com.au/" target="_self" tabindex="0">Mattress Collection Melbourne</a><br>Pick up only<br>Charge: $40 first piece<br>
                                                    </li>
                                                    <li>
                                                        <a href="https://softlanding.com.au/" target="_self" tabindex="0">Soft Landing Mattress Recycling</a><br>Pick-up only<br>Charge: $50 first piece, each piece thereafter: $35 (within standard service area).<br>
                                                    </li>
                                                </ul><h3>Medicines<br></h3><p>Drop off unwanted medicines at your local pharmacy.<br></p><h3>Metal scraps<br></h3><div><p>Drop off at the Citywide Transfer Station and Resource Recovery Centre, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Free drop off for residents with proof of address.<br></p></div><h3>Microwaves<br></h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for further information.<br>
                                                </p><h3>Mirrors</h3><p>
                                                    Glass must be securely wrapped. Place in your landfill bin or refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for other options.<br>
                                                </p><h3>Mobile phones<br></h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a>&nbsp;for further information.
                                                </p><h3>Monitors (computer)</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a>&nbsp;for further information.
                                                </p><h3>Motor oil<br></h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx#chemicals" target="_self" tabindex="0">Chemicals</a>&nbsp;for further information.<br>
                                                </p><p>Motor oil can also be disposed of at the&nbsp;<a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.<br></p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="n" class="named-anchor" tabindex="0"></a>N</h2><div class="accordionAnswer">
                                            <div class="ExternalClass55846444506A4B43A0D41AFB2A7C8F98">
                                                <h3>Nappies</h3><p>Wrap in a plastic bag and&nbsp;place in your landfill bin.<br></p><h3>Netting (fruit trees)<br></h3><p>Place in your&nbsp;landfill bin.&nbsp;Old netting, when discarded, can still be an entanglement risk. If you plan to dispose of old netting to landfill it is recommended that you place it into a strong biodegradable bag first.<br></p><h3>Netting produce bags (any metal clips removed)</h3><p>Refer to soft plastics.<br></p>
                                                <h3>Newspapers<br></h3><p>Place in your yellow lidded recycling bin.<br></p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc"><h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="o" class="named-anchor" tabindex="0"></a>O</h2><div class="accordionAnswer"><div class="ExternalClass69EF384D64D946A88FE054CE0A54F950"><h3>Oils - cooking<br></h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#c" tabindex="0" target="_self">Cooking oils</a>&nbsp;for further information.</p><h3>Oils – motor<br></h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#m" tabindex="0" target="_self">Motor oil</a>&nbsp;for further information.</p><h3>Oven</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" tabindex="0" target="_self">Hard waste</a>&nbsp;for further information.</p><h3>Oven cleaner</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx#chemicals" tabindex="0" target="_self">Chemicals</a>&nbsp;for further information.<br></p></div></div></div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="p" class="named-anchor" tabindex="0"></a>P</h2><div class="accordionAnswer">
                                            <div class="ExternalClass62B171A1CEB948AB993E5B8679C998BB">
                                                <h3>​Paint and paint stripper<br></h3><p>
                                                    Drop off unwanted chemicals for free at a
                                                    <a href="https://www.sustainability.vic.gov.au/detoxyourhome)" target="_self" tabindex="0">Detox Your Home chemical collection</a>.<br>
                                                </p><h3>Paint tins<br></h3><p>Empty and place in your yellow lidded recycling bin with lids off.<br></p><h3>Paper and cardboard&nbsp;</h3><p>Place in your yellow lidded recycling bin.<br></p><p>Paper/cardboard can also be dropped&nbsp;off at the&nbsp;<a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Free drop off for residents with proof of address.<br></p><h3>Pens and markers</h3><p>Drop off at Officeworks stores.<br></p><h3>Pet food bags<br></h3><p>Refer to soft plastics.<br></p><h3>Plant pots</h3><p>Place in your yellow lidded recycling bin.<br></p><h3>Plasterboard<br></h3><p>
                                                    Drop off at
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.<br>
                                                </p><h3>Plastic bags<br></h3><p>
                                                    Place in your landfill bin, or to recycle plastic bags and&nbsp;soft scrunchable plastics, take them to&nbsp;your local supermarket. Visit
                                                    <a href="https://www.redcycle.net.au/what-to-redcycle/" target="_self" tabindex="0">REDcycle</a>&nbsp;for further information.<br>
                                                </p><h3>Plastic containers and bottles<br></h3><p>Place all rigid plastic containers and bottles in your yellow lidded recycling bin. Plastic type 1 to&nbsp;5 are accepted.</p><h3>Plastic film</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.<br>
                                                </p><h3>Plastic sachets</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.<br>
                                                </p><h3>Plastic strapping, packing tape</h3><p>Put in a bag and place in your landfill bin.<br></p><h3>Polystyrene<br></h3><p>Place in your landfill bin, or go to <a href="https://recyclingnearyou.com.au/polystyrene/" target="_self" tabindex="0">Recycling Near You</a> for more options.<br></p><h3>Potting mix bags</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#s" target="_self" tabindex="0">Soft plastics</a>.
                                                </p><h3>Power tools</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a>.<br>
                                                </p><h3>Printer cartridges</h3><p>Drop off at Officeworks stores.<br></p><h3>Prunings</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/garden-waste.aspx" target="_self" tabindex="0">Garden waste</a>.<br>
                                                </p><h3>Pyrex<br></h3>
                                                <p>Place in your landfill bin, or if your items are in good condition please consider donating, giving away or selling them.&nbsp;You can donate or sell your items on the following websites:</p><ul>
                                                    <li>
                                                        Find your
                                                        <a href="https://opshop.org/" target="_self" tabindex="0">local op&nbsp;shop</a><br>
                                                    </li>
                                                    <li style="text-align:left;">
                                                        <a href="https://www.facebook.com/marketplace/" target="_self" tabindex="0">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" target="_self" tabindex="0">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" target="_self" tabindex="0">Ziilch</a>.<br>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc"><h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="r" class="named-anchor" tabindex="0"></a>R</h2><div class="accordionAnswer"><div class="ExternalClassD3C2A9E6642F49FC81B18EA05E6D539D"><h3>Radios<br></h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" tabindex="0" target="_self">E-waste</a>&nbsp;for further information.</p><h3>Rat&nbsp;poison<br></h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx#chemicals" tabindex="0" target="_self">Chemicals</a>&nbsp;for further information.</p><h3>Refrigerators&nbsp;</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" tabindex="0" target="_self">Hard waste</a>&nbsp;for further information.</p><h3>Remote control</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" tabindex="0" target="_self">E-waste</a>&nbsp;for further information.</p><h3>Reusable shopping bags<br></h3><p>Place in your landfill bin, or to recycle the shopping bags, take them&nbsp;back to your local supermarket. See <a href="https://www.redcycle.net.au/what-to-redcycle/" tabindex="0" target="_self">REDcycle</a>&nbsp;for further information.<br></p></div></div></div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="s" class="named-anchor" tabindex="0"></a>S</h2><div class="accordionAnswer">
                                            <div class="ExternalClass42DA07D81FAE4584B9ECE09028524BA0">
                                                <h3>​Scrap metal</h3><p>Drop off at <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.</p><h3>Shoes</h3><p>Place in your landfill bin, or if the&nbsp;shoes&nbsp;are in a good condition please consider donating, giving away or selling them.&nbsp;You can donate or sell your items on the following websites:</p><ul>
                                                    <li>
                                                        Find your
                                                        <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/marketplace/" target="_self" tabindex="0">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" target="_self" tabindex="0">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" target="_self" tabindex="0">Ziilch</a>.<br>
                                                    </li>
                                                </ul><h3>Smoke detectors (household)</h3><p>Can now be placed in your landfill bin.</p><h3>Soft plastics<br></h3><p>Place in your landfill bin, or recycle through the REDcycle soft plastic program, allowing&nbsp;you to<strong>&nbsp;</strong>take your old plastic bags and soft scrunchable plastics back to your local supermarket for recycling. Visit <a href="https://www.redcycle.net.au/what-to-redcycle/" target="_self" tabindex="0">REDcycle</a> website for further information.<br></p><h3>Solvents<br></h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx#chemicals" target="_self" tabindex="0">Chemicals</a>&nbsp;for further information.</p><h3>Sporting equipment<br></h3><p>Place in your landfill bin, or if your items are in good condition please consider donating, giving away or selling them.&nbsp;You can donate or sell your items on the following websites:</p><ul>
                                                    <li>
                                                        Find your
                                                        <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/marketplace/" target="_self" tabindex="0">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" target="_self" tabindex="0">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" target="_self" tabindex="0">Ziilch</a>.<br>
                                                    </li>
                                                </ul>
                                                <h3>Steel cans</h3><p>Place in your yellow lidded recycling bin.</p><h3>Stoves</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for further information.<br></p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="t" class="named-anchor" tabindex="0"></a>T</h2><div class="accordionAnswer">
                                            <div class="ExternalClass158BB0E6C3ED4C3F96753A027E158DCF">
                                                <h3>Tables</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for further information.
                                                </p><h3>Tea bags</h3><p>Place in your landfill bin.</p><h3>Tetra Paks<br></h3><p>Place in your landfill bin.</p><h3>Timber<br></h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste&nbsp;</a>for further information, or you can drop off at the
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.
                                                </p><h3>Tissues</h3><p>Place in your landfill bin.</p><h3>Toaster</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a>&nbsp;for further information.</p><h3>Tools</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for further information, or </p><p>
                                                    Drop off at
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.
                                                </p><h3>Toothbrushes&nbsp;</h3><p>Place in your landfill bin.</p><h3>Toothbrushes (electric)<br></h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a>&nbsp;for further information.<br></p><h3>Towels</h3><p>Check with your local vets to see if they accept donations</p><h3>Toys (no batteries)</h3><p>Place in your landfill bin, or if your items are in good condition please consider donating, giving away or selling them.&nbsp;You can donate or sell your items on the following websites:</p><ul>
                                                    <li>
                                                        Find your
                                                        <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/marketplace/" target="_self" tabindex="0">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" target="_self" tabindex="0">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" target="_self" tabindex="0">Ziilch</a>.<br>
                                                    </li>
                                                </ul><h3>Toys (with plug, cord or battery)</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a>&nbsp;for further information, or if your items are in good condition please consider donating, giving away or selling them.&nbsp;You can donate or sell your items on the following websites:</p><ul>
                                                    <li>
                                                        Find your
                                                        <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/marketplace/" target="_self" tabindex="0">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" target="_self" tabindex="0">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" target="_self" tabindex="0">Ziilch</a>.<br>
                                                    </li>
                                                </ul><h3>Transmission fluid</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx#chemicals" target="_self" tabindex="0">Chemicals</a>&nbsp;for further information.</p><h3>TV units</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for further information.</p><h3>Tupperware</h3><p>Place in your landfill bin, or if your items are in good condition please consider donating, giving away or selling them.&nbsp;You can donate or sell your items on the following websites:</p><ul>
                                                    <li>
                                                        Find your
                                                        <a href="https://opshop.org/" target="_self" tabindex="0">local op shop</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/marketplace/" target="_self" tabindex="0">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" target="_self" tabindex="0">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" target="_self" tabindex="0">Ziilch</a>.<br>
                                                    </li>
                                                </ul><h3>Tyres</h3><p>Drop off at <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.<br></p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="v" class="named-anchor" tabindex="0"></a>V</h2><div class="accordionAnswer">
                                            <div class="ExternalClassD163E36D13A34660BCE43FED41D342B4">
                                                <h3>Vacuum cleaners&nbsp;</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" tabindex="0" target="_self">E-waste</a>&nbsp;for further information.
                                                </p><h3>Vacuum cleaner dust</h3><p>Place in your landfill bin.</p><h3>VHS / Cassette tapes<br></h3><p>Place in your landfill bin, or if your items are in good condition please consider donating, giving away or selling them.&nbsp;You can donate or sell your items on the following websites:</p><ul>
                                                    <li>
                                                        Find your
                                                        <a href="https://opshop.org/" tabindex="0" target="_self">local op shop</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/marketplace/" tabindex="0" target="_self">Facebook marketplace</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gumtree.com.au/" tabindex="0" target="_self">Gumtree</a><br>
                                                    </li>
                                                    <li>
                                                        <a href="https://au.ziilch.com/" tabindex="0" target="_self">Ziilch</a>.<br>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc">
                                        <h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="w" class="named-anchor" tabindex="0"></a>W</h2><div class="accordionAnswer">
                                            <div class="ExternalClass098688BDE2904A7689D10E72B3AC4B95">
                                                <h3>​Wardrobes<br></h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a> for further information.<br>
                                                </p><h3>Watches</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/e-waste-chemicals.aspx" target="_self" tabindex="0">E-waste</a> for further information.<br>
                                                </p><h3>Washing machines</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a>&nbsp;for further information.</p><h3>Waxed cardboard</h3><p>Place in your landfill bin.</p><h3>Whitegoods</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a> for further information.<br>
                                                </p><h3>Window glass</h3><p>Refer to <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/a-z-waste-disposal.aspx#g" target="_self" tabindex="0">Glass windows, cups, mirrors and table tops</a>&nbsp;for further information.</p><h3>Wood pallets</h3><p>
                                                    Refer to
                                                    <a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/hard-waste.aspx" target="_self" tabindex="0">Hard waste</a> for further information, or you can take them&nbsp;to the&nbsp;<a href="https://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling-centre.aspx" target="_self" tabindex="0">Citywide Transfer Station and Resource Recovery Centre</a>, 437 Dynon Road, West Melbourne. Phone 9261 5000. Open 9am to 3pm, 7 days a week, excluding Good Friday and Christmas Day. Charges may apply.<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div><div class="accordionQuestionAdhoc"><h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="x" class="named-anchor" tabindex="0"></a>X</h2><div class="accordionAnswer"><div class="ExternalClassFDBBC87E6B2C42558C0AF162ECE802DD"><h3>X-rays</h3><p>You can post your old x-rays to:</p><p>Siltech PMR<br>X-Ray Recycling<br>7/220 Barry Road<br>Campbellfield&nbsp;VIC 3061<br></p></div></div></div><div class="accordionQuestionAdhoc"><h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="y" class="named-anchor" tabindex="0"></a>Y</h2><div class="accordionAnswer"><div class="ExternalClass601B08AFC3E34AB0A35DAD78036D66C4"><h3>Yoghurt containers</h3><p>Place in your yellow lidded recycling bin.<br></p></div></div></div><div class="accordionQuestionAdhoc"><h2 class="accordionQAHeader" tabindex="0"><i aria-label="expand" aria-expanded="false" title="expand" class="accfixBig plusicon cursorWhenHover fa fa-plus"></i><a name="z" class="named-anchor" tabindex="0"></a>Z</h2><div class="accordionAnswer"><div class="ExternalClassF3A563197F5840B2826EAB5EB56154AE"><h3>Zip lock bags&nbsp;<br></h3><p>Place in your landfill bin, or to recycle plastic bags and soft scrunchable plastics, take them to your local supermarket. Visit <a href="https://www.redcycle.net.au/what-to-redcycle/" tabindex="0" target="_self">REDcycle</a> for further information.</p></div></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
